<div class="col-sm-12">
    <div class="jumbotron">
        <form action="" method="post">
            Fullname: <br>
            <input type="text" name="fullname" placeholder="fullname"><br><br/>
            Trainee_Role: <br/>
            <input type="text" name="Trainee_Role" placeholder="Trainee_Role">
            <br><br/>
            Group_no: <br/>
            <input type="value" name="group_no" placeholder="what is your group?">
            <br><br/>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>